* {
  margin: auto;
  padding: auto;
}

body {
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  margin-top: 25px;
  color: #033b4a;
}

.fa-shopping-cart {
  margin-left: 100px;

}

.fa-sign-in {
  margin-left: 80px;
}

/* top bar design start here */
.topbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #79c276;
}
.topbar li{
  list-style: none;
  float: left;
  margin-left: 20px;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
  font-size:15px;
  padding:10px;
}

/* medium bar logo search cart design start here */

.topnav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #033b4a;
  padding-bottom: 20px;
}

label.logo {
  color: white;
  font-size: 45px;
  padding: 0 100px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
}

label.logo span {
  font-size: 60px;
}

.logo a:hover {
  color: brown;

}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 15px;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
  float: left;
}

.topnav .search-container button {
  padding: 6px 10px;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  background: #ddd;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 5px;
}

.user {
  float: right;
  width: 33%;
}

.user a {
  width: 30px;
  height: 30px;
  margin-left: 55px;
  float: left;
}


@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type=text],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/* category Navbar styles */
.navbar {
  background-color:#f3f8fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 25px;
  font-size: 20px;
}

.navbar-menu li a {
  color:#033b4a;
  text-decoration: none;
}
.navbar-menu li a:hover{
  color:white;
  text-decoration: none;
  background-color: #033b4a;
  padding: 5px;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    align-items: center;
  }

  .navbar-menu li {
    margin: 10px 0;
  }
} 

/* like silder pic design */
.front-pic {
  width: 100%;
  height: 300px;
  margin: 5px;

}

.front-pic img {
  width: 100%;
  height: 300px;

}

.Pharmacy-ser {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Pharmacy-ser p {
  text-align: center;
  font-size: 40px;
  float: left;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: #79c276;
  margin-top: 20px;
}

/* doctors section design start here */


.doctors {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #f3f8fb;
}

.doctors-sec {
  width: 32%;
  height: auto;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  background-color: #f3f8fb;
}

.doctors-sec img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.doctors-sec h3 {
  text-align: center;
  font-size: 25px;
  font-family:'Open Sans', sans-serif;
  margin: 0;
  padding-top: 30px;
  color: #033b4a;
}

.doctors-sec h6 {
  font-size: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #033b4a;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}

.doctors-sec p {
  text-align: center;
  color: gray;
  padding-top: 0 8xp;
  margin-top: 5px;
}

/* about section start here */

.about {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  background-color: #f3f8fb;

}

.about-sec {
  width: 48%;
  height: auto;
  min-height: 400px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}

.about-sec h3 {
  text-align: center;
  font-size: 45px;
  margin: 0;
  padding-top: 30px;
}

.about-sec img {
  width:500px;
  height: 400px;
}

.about-sec p {
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  color: gray;
}

.about-sec ul {
  margin-top: 10px;
}

.about-sec li {
  font-size: 20px;
  float: left;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 5px;
  color: #033b4a;
}

@media(max-width:1000px) {
  .about-sec {
    width: 45%;
  }
}

@media(max-width:750px) {
  .about-sec {
    width: 100%;
  }
}

.brand {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  align-items: center;

}

.brand-image {
  width: 15%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}

.brand-image img {
  width: auto;
  height: 100px;
}

/* footer desugn stRT here */
footer {
  background: rgb(56, 54, 54);
}
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-nav-item {
  width: 25%;
  height: 300px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
  background: rgb(56, 54, 54);
}

.footer-nav-item h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 30px;
}

.footer-nav-item li {
  font-size: 20px;
  color: black;
  margin-right: 15px;
  margin-top: 10px;
  list-style: none;
}

@media(max-width:1000px) {
  .footer-nav-item {
    width: 45%;
  }
}

@media(max-width:750px) {
  .footer-nav-item {
    width: 100%;
  }
}

.payment {
  display: inline;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 54, 54);
}

.payment img {
  width: 130px;
  height: 60px;
  border-radius: 10px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
}



/* Login form design */
.login-container {
  width: 400px;
  padding: 16px;
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-top:50px;
  border: 1px solid #ccc;
}

.login-container input[type=text], input[type=password] {
  width: 100%;
  padding: 20px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-container button {
  background-color: #4CAF50;
  color: white;
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-container button:hover {
  opacity: 0.8;
}

.login-container .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.signup-container{
  width: 500px;
  padding: 16px;
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-top:50px;
  border: 1px solid #ccc;
}
.signup-container input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.signup-container button {
  background-color: #4CAF50;
  color: white;
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signup-container button:hover {
  opacity: 0.8;
}