.product-sec h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    color: gray;
    padding-top: 30px;
}

.product{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.product-sec  {
    width: 22%;
    margin: 15px;
    height: auto;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    border: 1px solid gray;
    cursor: pointer;
    padding-top: 10px;
    background:white;
}
.product-sec:hover{
    box-shadow: 0 3px 6px;
}
.product-sec img{
    width: 250px;
    height: 300px;
}
.product-sec P{
    text-align: center;
    color: gray;
    padding-top: 0 8xp;
    margin-top: 5px;

}
.product-sec h6{
    font-size: 26px;
    text-align: center;
    color:#033b4a;
    margin: 0;
    margin-top: 5px;
}
/* .product-sec ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.product-sec li{
    padding-top: 5px;
} */
.product-sec .fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
/* for checked star */
.product-sec .checked{
    color: yellow;
}
.product-sec button{
    text-align: center;
    background-color: #79c276;
    font-size: 24px;
    color: white;
    width: 80%;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
margin-bottom: 15px;  
margin-top: 15px;
border-radius: 15px;

}
.product-sec button:hover{
    background-color: #033b4a;
}
@media(max-width:1000px){
    .product-sec{
        width: 45%;
    }
}
@media(max-width:750px){
    .product-sec{
        width: 100%;
    }
}



